/*ハンバーガーメニューCSS*/

.menubtn {
    position:fixed; top: 6px; right:0px;
    z-index: 999;    /*追記*/
    border: 1px solid;
   
}

nav { position: fixed; top: 6px; right:0px;  /*追記*/
      z-index: 998; height: 40%; width: 20%;  /*追記*/
      padding: 120px 1% 10px;/*調整*/   
      background-color: #a1cce6; color: #000000; 
}

.content{
    padding-top: 20px; padding-left: 5px;/*追記*/
}